#login-wrap {
	background-image:url(images/login.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	min-height:100vh;
	overflow:hidden;
	h2 {
		color:$white;
		background-color:$black;
		margin-top:0;
		font-size:55px;
		padding:10px;
		text-align:center;
	}
	#login-form-wrap {
		width:100%;
		background-color:$white;
		@media (min-width:$break-small) {
			width:50%;
			max-width:530px;
			position: absolute;
			top:50%;
			transform:translateY(-50%);
			left:50%;
			transform:translateX(-50%);
		}
	}
}