/****** GENERIC SIDEBAR STYLES *******/
aside.sidebar {
  margin-top:50px;
}
section.testimonials {
  footer {
    margin-top:15px;
  }
  cite {
    strong {
      font-style:normal;
    }
  }
}
/* Home sidebar has more spacing between section */
body.home {
  aside.sidebar {
    section {
      margin-bottom:75px;
    }
  }
}
aside.sidebar.sidebar-inner {
  margin-top:30px;
}
.filters {
  form {
    padding:10px;
    background-color:$light-callout;
    margin-top:5px;
    .check-it {
      color:$main;
      text-transform: uppercase;
      font-family: 'Homenaje', sans-serif;
      font-weight:bold;
      margin-bottom:5px;
    }
    label {
      display: none;
    }
    input[type="checkbox"] {
      margin-right:5px;
    }
  }
}

/****** END GENERIC SIDEBAR STYLES *******/