<section class="header-info">
	<h1 class="title">Vintage Car Show 2017</h1>
	<h3><strong>International Vintage Car Association</strong></h3>
	<p>Attendees: 5,000 | In Date: 2017/07/21 | Out Date: 2017/08/07</p>
</section>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<section class="content">
				<div class="thumbnail-list">
                    <h2>Images</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <a class="fancybox-media" href="https://www.youtube.com/watch?v=uZ9t9TVQHnc"><img src="images/imgVideo1.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo2.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo3.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="fancybox-media" href="https://www.youtube.com/watch?v=uZ9t9TVQHnc"><img src="images/imgVideo1.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo2.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo3.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="fancybox-media" href="https://www.youtube.com/watch?v=uZ9t9TVQHnc"><img src="images/imgVideo1.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo2.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo3.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="fancybox-media" href="https://www.youtube.com/watch?v=uZ9t9TVQHnc"><img src="images/imgVideo1.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo2.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo3.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="fancybox-media" href="https://www.youtube.com/watch?v=uZ9t9TVQHnc"><img src="images/imgVideo1.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo2.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo3.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="fancybox-media" href="https://www.youtube.com/watch?v=uZ9t9TVQHnc"><img src="images/imgVideo1.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo2.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo3.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="fancybox-media" href="https://www.youtube.com/watch?v=uZ9t9TVQHnc"><img src="images/imgVideo1.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo2.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="" href="#"><img src="images/imgVideo3.jpg" alt=""></a>
                            <h3>Image Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                    </div>
                </div>
			</section>
		</div>
	</div>
</div>