<section class="header-info">
	<h1 class="title">Vintage Car Show 2017</h1>
	<h3><strong>International Vintage Car Association</strong></h3>
	<p>Attendees: 5,000 | In Date: 2017/07/21 | Out Date: 2017/08/07</p>
</section>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content event-preview-wrap">
				<div class="row">
					<div class="col-sm-4 grid-item event-preview">
						<h3>Peppa Pig Playdate</h3>
						<div class="grid-item-content">
							<h3>Event Info</h3>
							<p><strong>Dates: </strong>05 January, 2017 - 09 January, 2017</p>
							<p><strong>Estimated Attendee:</strong> 1,000</p>
							<p><strong>Location:</strong> Plenary</p>
							<a href="#" class="clear-filters">View Event</a>
						</div>
					</div>
					<div class="col-sm-4 grid-item event-preview">
						<h3>St. Petersburg Ballet Theatre - Swan Lake</h3>
						<div class="grid-item-content">
							<h3>Event Info</h3>
							<p><strong>Dates: </strong>05 January, 2017 - 09 January, 2017</p>
							<p><strong>Estimated Attendee:</strong> 1,000</p>
							<p><strong>Location:</strong> Plenary</p>
							<a href="#" class="clear-filters">View Event</a>
						</div>
					</div>
					<div class="col-sm-4 grid-item event-preview">
						<h3>St. Petersburg Ballet - The Nutcracker</h3>
						<div class="grid-item-content">
							<h3>Event Info</h3>
							<p><strong>Dates: </strong>05 January, 2017 - 09 January, 2017</p>
							<p><strong>Estimated Attendee:</strong> 1,000</p>
							<p><strong>Location:</strong> Plenary</p>
							<a href="#" class="clear-filters">View Event</a>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.content -->
		</div><!-- /.col-sm-12 -->
	</div><!-- /.row -->
</div><!-- /.container -->

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content event-preview-past">
				<div class="reveal-more"><a href="#" data-reveal-id="#past-events">Past Events - 2016</a></div>
				<div class="row reveal-hidden" id="past-events">
					<div class="col-sm-4 grid-item event-preview">
						<h3>Peppa Pig Playdate</h3>
						<div class="grid-item-content">
							<h3>Event Info</h3>
							<p><strong>Dates: </strong>05 January, 2017 - 09 January, 2017</p>
							<p><strong>Estimated Attendee:</strong> 1,000</p>
							<p><strong>Location:</strong> Plenary</p>
							<a href="#" class="clear-filters">View Event</a>
						</div>
					</div>
					<div class="col-sm-4 grid-item event-preview">
						<h3>St. Petersburg Ballet Theatre - Swan Lake</h3>
						<div class="grid-item-content">
							<h3>Event Info</h3>
							<p><strong>Dates: </strong>05 January, 2017 - 09 January, 2017</p>
							<p><strong>Estimated Attendee:</strong> 1,000</p>
							<p><strong>Location:</strong> Plenary</p>
							<a href="#" class="clear-filters">View Event</a>
						</div>
					</div>
					<div class="col-sm-4 grid-item event-preview">
						<h3>St. Petersburg Ballet - The Nutcracker</h3>
						<div class="grid-item-content">
							<h3>Event Info</h3>
							<p><strong>Dates: </strong>05 January, 2017 - 09 January, 2017</p>
							<p><strong>Estimated Attendee:</strong> 1,000</p>
							<p><strong>Location:</strong> Plenary</p>
							<a href="#" class="clear-filters">View Event</a>
						</div>
					</div>
					<div class="col-sm-4 grid-item event-preview">
						<h3>Peppa Pig Playdate</h3>
						<div class="grid-item-content">
							<h3>Event Info</h3>
							<p><strong>Dates: </strong>05 January, 2017 - 09 January, 2017</p>
							<p><strong>Estimated Attendee:</strong> 1,000</p>
							<p><strong>Location:</strong> Plenary</p>
							<a href="#" class="clear-filters">View Event</a>
						</div>
					</div>
					<div class="col-sm-4 grid-item event-preview">
						<h3>St. Petersburg Ballet Theatre - Swan Lake</h3>
						<div class="grid-item-content">
							<h3>Event Info</h3>
							<p><strong>Dates: </strong>05 January, 2017 - 09 January, 2017</p>
							<p><strong>Estimated Attendee:</strong> 1,000</p>
							<p><strong>Location:</strong> Plenary</p>
							<a href="#" class="clear-filters">View Event</a>
						</div>
					</div>
					<div class="col-sm-4 grid-item event-preview">
						<h3>St. Petersburg Ballet - The Nutcracker</h3>
						<div class="grid-item-content">
							<h3>Event Info</h3>
							<p><strong>Dates: </strong>05 January, 2017 - 09 January, 2017</p>
							<p><strong>Estimated Attendee:</strong> 1,000</p>
							<p><strong>Location:</strong> Plenary</p>
							<a href="#" class="clear-filters">View Event</a>
						</div>
					</div>
				</div><!-- /.row -->
			</div>
		</div>
	</div>
</div>