<section class="header-info">
	<h1 class="title">Vintage Car Show 2017</h1>
	<h3><strong>International Vintage Car Association</strong></h3>
	<p>Attendees: 5,000 | In Date: 2017/07/21 | Out Date: 2017/08/07</p>
</section>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content event-preview-wrap">
				<div class="row" data-bind="foreach: eventsList">
                    <div class="col-sm-4 grid-item event-preview match-events">
						<h3 data-bind="text: description"></h3>
						<div class="grid-item-content">
							<h3>Event Info</h3>
							<p><strong>Dates: </strong><span data-bind="text: start_date"></span> - <span data-bind="text: end_date"></span></p>
							<p><strong>Estimated Attendee:</strong> <span data-bind="text: attendees"></span></p>
							<p><strong>Location:</strong> <span data-bind="text: location"></span></p>
							<a data-bind="click: selectEvent, attr: { href: url }" class="clear-filters">View Event</a>
						</div>
					</div>
                </div>
			</div><!-- /.content -->
		</div><!-- /.col-sm-12 -->
	</div><!-- /.row -->
</div><!-- /.container -->

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content event-preview-past">
				<div class="reveal-more"><a href="#" data-reveal-id="#past-events">Past Events</a></div>
				<div class="row reveal-hidden" id="past-events" data-bind="foreach: pastEventsList">
					<div class="col-sm-4 grid-item event-preview match-past-events">
						<h3 data-bind="text: description"></h3>
						<div class="grid-item-content">
							<h3>Event Info</h3>
							<p><strong>Dates: </strong><span data-bind="text: start_date"></span> - <span data-bind="text: end_date"></span></p>
							<p><strong>Estimated Attendee:</strong> <span data-bind="text: attendees"></span></p>
							<p><strong>Location:</strong> <span data-bind="text: location"></span></p>
							<a data-bind="click: selectEvent, attr: { href: url }" class="clear-filters">View Event</a>
						</div>
					</div>
					
				</div><!-- /.row -->
			</div>
		</div>
	</div>
</div>