 <nav class="details">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-details">
                    <h1 data-bind="text: welcome_title"></h1>
                    <h4 data-bind="text: welcome_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                </div>
            </div>
            <!-- /.col-* -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</nav>
<!--/nav.details -->

<!-- HOME HEADER INTRO -->
<section class="header-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-push-9 match-me">
                <h2 class="callout" data-bind="text: event_title"></h2>
                <p class="callout tight" data-bind="text: event_description"></p>
                <p>Attendees: <span data-bind="text: event_attendance"></span></p>
                <ul class="small-list list-unstyled">
                    <li>In Date: <span data-bind="text: event_start_date"></span></li>
                    <li>Out Date: <span data-bind="text: event_end_date"></span></li>
                </ul>
                <h2 class="callout bottom-sep">Proposal</h2>

                <div class="proposals-list" data-bind="foreach: eventConfigurationProposals">
                    <div class="polar-split">
                        <div class="pole">
                            <p data-bind="text: name" class="tight highlight"></p>
                            <p class="tight">Version <span data-bind="text: version"></span></p>
                            <p class="tight">Last Updated <span data-bind="text: date">6.12.2016<span></p>
                        </div>
                        <div class="pole">
                            <a data-bind="attr: { href: download_url }" class="download highlight-alt">Download</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-9 col-sm-pull-3 match-me">
                <div class="slider">
                    <div class="owl-carousel owl-theme" data-bind="foreach: featuredImagesList">
                        <div class="slide" data-bind="html: $data"></div>
                    </div>
                    <!-- /.owl-carousel -->
                </div>
                <!-- /.slider -->
            </div>
            <!-- /.col-sm-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- END HOME HEADER INTRO -->
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <section class="content">
                <div class="article-list">
                    <h2 data-bind="text: articleSectionTitle"></h2>
                    <div class="article-list-wrapper" data-bind="foreach: eventArticlesList">                        
                        <div class="article row">
                            <div class="col-sm-3">
                                <img data-bind="attr: { src: url }" alt="">
                            </div>
                            <div class="col-sm-9">
                                <h3><strong data-bind="text: title"></strong></h3>
                                <p data-bind="text: description"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="pull-right"><a data-bind="attr: { href: router.navigationModel()[8].hash }">View all articles</a></p>
                    </div>
                </div>
                <!-- /.article-list -->
                <div class="thumbnail-list">
                    <h2 data-bind="text: imagesSectionTitle"></h2>
                    <div class="row" data-bind="foreach: eventImagesList">
                        <div class="col-sm-4 match-images">
                            <a data-bind="attr: { href: url }"><img data-bind="attr: { src: url }" alt=""></a>
                            <h3 data-bind="text: title"></h3>
                            <p data-bind="text: description"></p>
                        </div>
                    </div>
                    <div class="row">
                        <p class="pull-right"><a data-bind="attr: { href: router.navigationModel()[9].hash }">View all images</a></p>
                    </div>
                </div>
                <div class="thumbnail-list">
                    <h2 data-bind="text: videosSectionTitle"></h2>
                    <div class="row" data-bind="foreach: eventVideosList">
                        <div class="col-sm-4  match-videos">
                            <a class="video" data-bind="attr: { attr: url }"><img src="images/imgVideo1.jpg" alt=""></a>
                            <h3 data-bind="text: title"></h3>
                            <p data-bind="text: description"></p>
                        </div>
                    </div>
                    <div class="row">
                        <p class="pull-right"><a data-bind="attr: { href: router.navigationModel()[10].hash }">View all videos</a></p>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <div class="col-sm-3">
            <aside class="sidebar">
                <section class="documents">
                    <h2 data-bind="text: documentsSectionTitle"></h2>
                    <div class="documents-list-wrapper">
                        <div class="document" data-bind="foreach: eventDocumentsList">
                            <h3 data-bind="text: name"></h3>
                            <p data-bind="text: description"></p>
                            <a data-bind="attr: { href: download_url }" class="highlight-alt download-alt">Download</a>
                        </div>
                    </div>
                    
                </section>
                <!-- /.documents -->
                <section class="testimonials">
                    <h2 data-bind="text: testimonialsSectionTitle"></h2>
                    <div class="testimonials-list-wrapper" data-bind="foreach: eventTestimonialsList">
                        <div class="testimonial">
                            <p data-bind="text: description"></p>
                            <footer>
                                <cite>
                                    <p class="tight"><strong>- <span data-bind="text: name"></span></strong></p>
                                    <p class="tight lighten" data-bind="text: company"></p>
                                </cite>
                            </footer>
                        </div>
                    </div>
                    <!-- /.testimonial -->
                </section>
                <!-- /.testimonials -->
            </aside>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->