<div id="login-wrap">

	<div id="login-form-wrap">
		<h2>Log in to the MCEC Portal</h2>
		<form data-bind="submit: submitForm" class="polar-split-manual">
			<div class="input-fields">
				<h3><strong>Sign In</strong></h3>
				<p><input placeholder="Enter Email" data-bind="value: username" /></p>
				<p><input placeholder="Enter Password" data-bind="value: password" /></p>
				<button type="submit">Submit</button>
			</div><!-- /.input-fields -->
			<div class="contact-meta">
				<h3><strong>Contact Us</strong></h3>
			</div>
		</form>
	</div><!-- /#login-form-wrap -->

</div><!-- /#login-wrap -->