<section class="header-info">
	<h1 class="title">Vintage Car Show 2017</h1>
	<h3><strong>International Vintage Car Association</strong></h3>
	<p>Attendees: 5,000 | In Date: 2017/07/21 | Out Date: 2017/08/07</p>
</section>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content">
				<h2>Manage Users</h2>
				<p>Edit all your current users here.</p>
				<div class="users-table">
					<h3>Add User</h3>
					<form action="" class="form-inline">
						<div class="form-group"><input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"></div>
						<div class="form-group">
							<select class="form-control">
							  <option>Subscriber</option>
							  <option>Editor</option>
							  <option>Admin</option>
							  <option>Super Admin</option>
							  <option>Super Man</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Add User</button>
					</form>
					<h3>Current Users</h3>

					<table class="table-striped">
						<thead>
							<th>Name</th>
							<th>Email</th>
							<th>Company</th>
							<th>Associate Type</th>
							<th class="clear">Send Again</th>
							<th>&nbsp;</th>
						</thead>
						<tr>
							<td>Eric Lowe</td>
							<td>email@example.com</td>
							<td>Ungerboeck</td>
							<td>Standard <a class="small" href="#">Change</a></td>
							<td class="clear"><i class="fa fa-envelope" aria-hidden="true"></i></td>
							<td class="clear"><i class="fa fa-times" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td>Eric Lowe</td>
							<td>email@example.com</td>
							<td>Ungerboeck</td>
							<td>Standard <a class="small" href="#">Change</a></td>
							<td class="clear"><i class="fa fa-envelope" aria-hidden="true"></i></td>
							<td class="clear"><i class="fa fa-times" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td>Eric Lowe</td>
							<td>email@example.com</td>
							<td>Ungerboeck</td>
							<td>Standard <a class="small" href="#">Change</a></td>
							<td class="clear"><i class="fa fa-envelope" aria-hidden="true"></i></td>
							<td class="clear"><i class="fa fa-times" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td>Eric Lowe</td>
							<td>email@example.com</td>
							<td>Ungerboeck</td>
							<td>Standard <a class="small" href="#">Change</a></td>
							<td class="clear"><i class="fa fa-envelope" aria-hidden="true"></i></td>
							<td class="clear"><i class="fa fa-times" aria-hidden="true"></i></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>