<section class="header-info">
	<h1 class="title">Vintage Car Show 2017</h1>
	<h3><strong>International Vintage Car Association</strong></h3>
	<p>Attendees: 5,000 | In Date: 2017/07/21 | Start Date: 2017/07/22 | End Date: 2017/08/06 | Out Date: 2017/08/07</p>
</section>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content">
				<h2>Manage Users</h2>
				<p>Edit all your current users here.</p>
				<div class="users-table">
					<h3>Current Users &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#" class="add-user">Add User</a></h3>
					<table class="table-striped">
						<thead>
							<th>Name</th>
							<th>Email</th>
							<th>&nbsp;</th>
						</thead>
						<tr>
							<td>Eric Lowe</td>
							<td>email@example.com</td>
							<td class="clear"><i class="fa fa-times" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td>Eric Lowe</td>
							<td>email@example.com</td>
							<td class="clear"><i class="fa fa-times" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td>Eric Lowe</td>
							<td>email@example.com</td>
							<td class="clear"><i class="fa fa-times" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td>Eric Lowe</td>
							<td>email@example.com</td>
							<td class="clear"><i class="fa fa-times" aria-hidden="true"></i></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>