<section class="header-info">
	<h1 class="title">Vintage Car Show 2017</h1>
	<h3><strong>International Vintage Car Association</strong></h3>
	<p>Attendees: 5,000 | In Date: 2017/07/21 | Start Date: 2017/07/22 | End Date: 2017/08/06 | Out Date: 2017/08/07</p>
</section>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content">
				<h2>Notifications</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<ul class="list-unstyled notifications">
					<li>
						<p class="tight">12/22/2016</p>
						<p class="tight">Please upload your logo.</p>
					</li>
					<li>
						<p class="tight">12/22/2016</p>
						<p class="tight">Review and sign license agreement.</p>
					</li>
					<li>
						<p class="tight">12/22/2016</p>
						<p class="tight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis recusandae ex nemo ut facere nihil laudantium reprehenderit id minus, nostrum deserunt animi consequuntur aut odio nulla, soluta velit eaque inventore.</p>
					</li>
					<li>
						<p class="tight">12/22/2016</p>
						<p class="tight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis recusandae ex nemo ut facere nihil laudantium reprehenderit id minus, nostrum deserunt animi consequuntur aut odio nulla, soluta velit eaque inventore.</p>
					</li>
					<li>
						<p class="tight">12/22/2016</p>
						<p class="tight">Please upload your logo.</p>
					</li>
					<li>
						<p class="tight">12/22/2016</p>
						<p class="tight">Review and sign license agreement.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>