<div id="wrapper">
    <div id="bottom-corner-brand"></div>
    <!-- BEGIN HEADER MARKUP -->
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" data-bind="attr: { href: router.navigationModel()[1].hash }, css: { active: router.activeInstruction().config.title == 'Home' }">Home</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="primary nav navbar-nav">
                        <li><a data-bind="attr: { href: router.navigationModel()[2].hash }, css: { active: router.activeInstruction().config.title == 'Tasks' }">Tasks</a></li>
                        <li><a data-bind="attr: { href: router.navigationModel()[3].hash }, css: { active: router.activeInstruction().config.title == 'Documents' }">Documents</a></li>
                        <li><a data-bind="attr: { href: router.navigationModel()[4].hash }, css: { active: router.activeInstruction().config.title == 'Contacts' }">Contacts</a></li>
                        <li><a href="https://ungerboeck.com" target="_blank">Payment</a></li>                                              
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Event <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a class="seperator" data-bind="attr: { href: router.navigationModel()[0].hash }">All Events</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, <span data-bind="text: loggedInUser"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a data-bind="attr: { href: router.navigationModel()[5].hash }">Manage Profile</a></li>
                                <li><a data-bind="attr: { href: router.navigationModel()[6].hash }">User Managment</a></li>
                                <li><a data-bind="click: logout" href="#">Logout</a></li>
                            </ul>
                        </li>
                        <li class="dropdown notifications">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img width="17" src="images/buttonBell.svg" alt=""> <span class="caret"></span><span class="count">3</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                                <li><a class="seperator" data-bind="attr: { href: '/#notifications/' + selectedEvent }">See all notifications</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /nav.navbar.navbar-default -->
        <nav class="details">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header-details">
                            
                        </div>
                    </div>
                    <!-- /.col-* -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </nav>
        <!--/nav.details -->
    </header>
    <!-- END HEADER MARKUP -->
   
   <section id="main" class="container" data-bind="router: { transition:'entrance', cacheViews:true }"></section>

    <!-- BEGIN FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <ul class="list-inline list-unstyled">
                        <li><a class="home" data-bind="attr: { href: router.navigationModel()[1].hash }">Home</a>
                        <li><a  data-bind="attr: { href: router.navigationModel()[2].hash }">Tasks</a></li>
                        <li><a  data-bind="attr: { href: router.navigationModel()[3].hash }">Documents</a></li>
                        <li><a  data-bind="attr: { href: router.navigationModel()[4].hash }">Contacts</a></li>
                        <li><a  href="https://ungerboeck.com" target="_blank">Payment</a></li>   
                    </ul>
                    <p class="small">Event Collaboration Portal</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
</div>
<!-- /#wrapper -->