<section class="header-info">
	<h1 class="title">Vintage Car Show 2017</h1>
	<h3><strong>International Vintage Car Association</strong></h3>
	<p>Attendees: 5,000 | In Date: 2017/07/21 | Start Date: 2017/07/22 | End Date: 2017/08/06 | Out Date: 2017/08/07</p>
</section>
<div class="container">
	<div class="row">
		<aside class="col-sm-3 sidebar sidebar-inner filters">
			<h2>Filter</h2>
			<form action="">
				<div class="check-it polar-split">
					<div class="check">
						<input type="checkbox" name="" value="All Departments">All Departments
					</div>
					<div class="count">37</div>
				</div>
				<div class="check-it polar-split">
					<div class="check">
						<input type="checkbox" name="" value="All Departments">Event Operations
					</div>
					<div class="count">18</div>
				</div>
				<div class="check-it polar-split">
					<div class="check">
						<input type="checkbox" name="" value="All Departments">Sales
					</div>
					<div class="count">15</div>
				</div>
				<div class="check-it polar-split">
					<div class="check">
						<input type="checkbox" name="" value="All Departments">Set-Up
					</div>
					<div class="count">04</div>
				</div>
				<div class="check-it polar-split">
					<div class="check">
						<input type="checkbox" name="" value="All Departments">Technology
					</div>
					<div class="count">05</div>
				</div>
			</form>
			<form action="">
				<div class="check-it polar-split">
					<div class="check">
						<input type="checkbox" name="" value="All Departments">All Statuses
					</div>
					<div class="count">37</div>
				</div>
				<div class="check-it polar-split">
					<div class="check action">
						<input type="checkbox" name="" value="All Departments">Action Required
					</div>
					<div class="count">18</div>
				</div>
				<div class="check-it polar-split">
					<div class="check progress-color">
						<input type="checkbox" name="" value="All Departments">In Progress
					</div>
					<div class="count">15</div>
				</div>
				<div class="check-it polar-split">
					<div class="check completed">
						<input type="checkbox" name="" value="All Departments">Completed
					</div>
					<div class="count">04</div>
				</div>
				<div class="check-it polar-split">
					<div class="check">
						<input type="checkbox" name="" value="All Departments">General Information
					</div>
					<div class="count">05</div>
				</div>
			</form>
		</aside>
		<div class="col-sm-9">
			<div class="content">
				<h2>Showing: All Tasks</h2>
				<table>
					<thead>
						<th>Name</th>
						<th>Department</th>
						<th>Due Date</th>
						<th></th>
					</thead>
					<tr>
						<td class="desc">
							<p class="big progress-color">Upload Your Logo</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit libero obcaecati repellat ipsam. Molestiae ea amet reprehenderit error similique, maxime ipsa. Voluptate maxime est consectetur, laborum ipsam, sint ducimus placeat.</p>
							<div class="more-details">
								<div class="upload">
									<strong>File Upload:</strong> Accepted file formats: JPG, JPEG, PNG, GIF; A maximum file size of 1MB is allowed.
								</div>
							</div>
						</td>
						<td>
							Sales
						</td>
						<td>2016/12/15</td>
						<td class="more bg-general"><i class="fa fa-chevron-down" aria-hidden="true"></i></td>
					</tr>
					<tr>
						<td class="desc">
							<p class="big completed">View Our Floor Plans</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit libero obcaecati repellat ipsam. Molestiae ea amet reprehenderit error similique, maxime ipsa. Voluptate maxime est consectetur, laborum ipsam, sint ducimus placeat.</p>
						</td>
						<td>
							Event Ops
						</td>
						<td>2016/12/15</td>
						<td class="more bg-completed"><i class="fa fa-chevron-down" aria-hidden="true"></i></td>
					</tr>
					<tr>
						<td class="desc">
							<p class="big action">Social Media Information</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit libero obcaecati repellat ipsam. Molestiae ea amet reprehenderit error similique, maxime ipsa. Voluptate maxime est consectetur, laborum ipsam, sint ducimus placeat.</p>
						</td>
						<td>
							Technology
						</td>
						<td>2016/12/15</td>
						<td class="more bg-action"><i class="fa fa-chevron-down" aria-hidden="true"></i></td>
					</tr>
					<tr>
						<td class="desc">
							<p class="big general">Review &amp; Sign License Agreement</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit libero obcaecati repellat ipsam. Molestiae ea amet reprehenderit error similique, maxime ipsa. Voluptate maxime est consectetur, laborum ipsam, sint ducimus placeat.</p>
						</td>
						<td>
							Sales
						</td>
						<td>2016/12/15</td>
						<td class="more bg-general"><i class="fa fa-chevron-down" aria-hidden="true"></i></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>